* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: bahnschrift;
}

.texto {
    margin-top: 2rem;
    padding: 1rem 2rem;
    font-size: xx-large;
}

.cabecalho {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    border-bottom: 1.5px solid rgba(100, 100, 111, 0.4);
}

.cabecalho .logo {
    font-family: greconian;
}

.cabecalho a {
    text-decoration: none;
    color: #000000;
    padding: 10px;
    font-family: bahnschrift;
    font-size: large;
}

.cabecalho input {
    width: 500px;
    height: 50px;
    text-align: center;
    font-size: medium;
    font-family: bahnschrift;
    border-radius: 12px;
    border: 2px solid rgba(100, 100, 111, 0.4);
}

.cabecalho input:hover {
    border: 2px solid rgb(29, 29, 185);
}

.lojas {
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;
    padding: 1rem 2rem;
}

.lojas .produto {
    border: 1px solid rgba(100, 100, 111, 0.4);
    font-size: large;
    background: white;
    transition: transform 0.3s ease-in-out;
}

.lojas .produto p {
    padding: 1rem 0;
    background: white;
}

.lojas .produto img {
    height: auto;
    width: 308px;
    object-fit: cover;
}

.lojas .produto:hover {
    transform: scale(1.3);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
}